*{
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  box-sizing: border-box;
 }
 .page{
  width:70%;
  margin:1.25em auto;
  padding:0.9375em 0.9375em;
  background-color: lightsalmon;
 }
 header, footer{
  width:100%;
  height:2.5em;
  background-color: rgb(107, 211, 211);
 }
 .head-foot{
  padding:0.625em 0;
  text-align: center;
 }
 main{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding-top:0.9375em;
  padding-bottom:0.9375em;
 }
 .left-section{
  width:30%;
  height:12.5em;
  margin-right:0.9375em;
  background-color: rgb(64, 163, 163);
 }
main h3{
  text-align: center;
  padding-top:5.625em;
 }
 .right-section{
  width: 70%;
  height:12.5em;
  background-color: salmon;
 }
 ul{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:0.3125em;
  padding-left:1.25em;
  padding-right:1.25em;
 }
 .img{
  width:4.375em;
  height:4.375em;
  background-color: rgb(199, 199, 199);
  list-style-type: none;
  text-align: center;
  padding-top:1.5625em;
 }